__pycache__/
spyder-env/
data/dataBase/

SIMULATIONS_green_official_Wed_Jun_14_134034_2023.obj
SIMULATIONS_unhappy_ship_Thu_Jun_15_091706_2023.obj
SIMULATIONS_loose_tax_Tue_Jun_13_151618_2023.obj
SIMULATIONS_productive_bear_Tue_Jun_13_160100_2023.obj
SIMULATIONS_wet_supermarket_Wed_Jun_14_182043_2023.obj
SIMULATIONS_test.obj
SIMULATIONS_snappy_presence_Wed_Jun_14_154446_2023.obj
SIMULATIONS_electric_speed_Mon_Jun_12_141443_2023.obj
SIMULATIONS_wobbly_brilliant_Tue_Jun_13_095509_2023.obj
SIMULATIONS_tattered_material_Tue_Jun_13_141318_2023.obj
SIMULATIONS_scholarly_insurance_Thu_Jun_15_172723_2023.obj
SIMULATIONS_1686233042.5595455.obj
SIMULATIONS_vengeful_east_Tue_Jun_13_143754_2023.obj
SIMULATIONS_1686233923.202469.obj
SIMULATIONS_wary_consist_Tue_Jun_13_144626_2023.obj
